@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--rich-black);
    font-family: Arial;
}

.container {
    min-width: 20vw;
    min-height: 50vh;
    background-color: var(--silver-lake-blue);
    border-radius: 15px;
    padding: 48px;
}

label {
    display: flex;
    height: auto;
    margin-bottom: 8px;

}

label > span {
    display: inline-flex;
    background-color: var(--rich-black);
    border-radius: 12px 0 0 12px;
    padding: 8px 24px;
    color: var(--platinum);
    width: 80px;

}

input {
    flex-grow: 1;
    outline: none;
    border: 2px solid var(--rich-black);
    border-radius: 0 12px 12px 0;
    padding: 8px;
}

button {
    width: 60px;
    border: none;
}

textarea {
    flex-grow: 1;
    border-radius: 0 12px 12px 0;
    border: 2px solid var(--rich-black);
    padding: 8px;
}

.add-task {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4px;

    & input {
        height: 40px;
        border-radius: 15px 0 0 15px;
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 4px 12px;
    }

    & button {
        border-radius: 0 15px 15px 0;
    }
}

.done {
    background-color: green !important;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    border-radius: 15px;
    background-color: var(--platinum);
    align-items: center;
    margin-bottom: 4px;
    padding: 0 24px 0 24px;

    .task-desc {
    }

    .task-actions {
        & span {
            padding: 0 8px 0 8px;
        }
    }

    & .edit-task {
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 4px 8px;
        width: 100% !important;
    }
}

/* Lib */

.mb-24 {
    margin-bottom: 24px;
}
