@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #222831;
  --gray: #393E46;
  --accent: #00ADB5;
  --alert: #b50000;
  --white: #EEEEEE;
}

* {
  padding: 0;
  margin: 0;
}

h1{
  color: var(--white);
}
h4{
  color: var(--accent);
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--white);
  font-family: Arial, serif;
}

input, textarea{
    outline: none;
}

.container {
  min-width: 20vw;
  min-height: 50vh;
  background-color: var(--dark);
  border-radius: 15px;
  padding: 48px;
}

label {
  display: flex;
  height: auto;
  margin-bottom: 8px;
}

label > span {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  border-radius: 12px 0 0 12px;
  padding: 8px 24px;
  color: var(--white);
  width: 80px;
}

input[type=text] {
  flex-grow: 1;
  height: 40px;
  border: 2px solid var(--gray);
  border-radius: 0 12px 12px 0;
  padding: 0 8px;
}

button {
  border: none;
}

.btn {
  padding: 12px 24px;
  color: var(--white);
  border-radius: 12px;
  background-color: var(--accent);
}

.addBtn {
  width: 60px;
}

.no-button-radius-right {
  border-radius: 12px 0 0 12px;
}

.no-button-radius-left {
  border-radius: 0 12px 12px 0;
}

textarea {
  flex-grow: 1;
  border-radius: 0 12px 12px 0;
  border: 2px solid var(--gray);
  padding: 8px;
}

.add-task {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 4px;

  & input {
    border-radius: 15px 0 0 15px;
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 4px 12px;
  }

  & button {
    border-radius: 0 15px 15px 0;
  }
}

.done {
  background-color: green !important;
}
.task-collapeds{
  display: flex;
  flex-direction: row;
}

.task {
  height: 40px;
  border-radius: 15px;
  background-color: var(--white);
  align-items: center;
  margin-bottom: 4px;
  padding: 4px 24px;

  & .checkbox{
    flex-grow: 1;

    & input{
      display: flex;
      align-self: center;
    }
  }

  .task-title {
    flex-grow: 10;
  }

  .task-actions {
    flex-grow: 1;
    text-align: right;
    justify-content: right;
    & span {
      padding: 0 8px 0 8px;
    }
  }



}

/* Lib */

.mb-24 {
  margin-bottom: 24px;
}

.align-right {
  display: flex;
  justify-content: right;
}

.color-accent{
  color: var(--accent);
}

.color-alert{
  color: var(--alert);
}

.alert {
  background-color: var(--alert);
}
